<video #videoPlayer class="video" *ngIf="!fullVideo">
  <source src="../../../assets/videos/call-of-duty-wwII.mp4" type="video/mp4">
  Seu navegador não suporta o elemento de vídeo.
</video>

<div class="video-full" *ngIf="fullVideo">
  <div class="close" (click)="colseFullVideo()">
    <img src="../../../assets/icons/close.png" alt="Fechar vídeo">
  </div>

  <video style="width: 100%;height: 95%;" controls>

    <source src="../../../assets/videos/call-of-duty-wwII.mp4" type="video/mp4">
    Seu navegador não suporta o elemento de vídeo.
  </video>
</div>


<div class="container">
  <div class="sound">
    <app-round-icon-border (click)="toggleMute()" [icon]="iconSound" [alt]="'Icone para deixar o som mudo'" [width]="25"
      [height]="25"></app-round-icon-border>
  </div>

  <div class="select-box">
    <select id="select">
      <option>Call of Duty</option>
      <option value="1">God of war</option>
      <option value="1">Tob Raider</option>
      <option value="1">the last of us</option>
    </select>
    <img src="../../../assets/icons/arrow-down.png" alt="Selecione o jogo para ver os trailers">
  </div>

  <section class="banner">
    <article class="titles">
      <div>
        <h1>Call of Duty: WWII</h1>
        <p>A série Call of Duty retorna às raízes com Call of Duty®: WWII, uma experiência espetacular que redefine
          a Segunda...
        </p>
        <br>
        <a class="button-explore">
          Explorar Jogo
        </a>
      </div>

      <div>
        <div class="play center">
          <app-round-icon-border (click)="togglePlayback()" [icon]="playIcon" [alt]="'Icone para iniciar no trailer'"
            [width]="50" [height]="50"></app-round-icon-border>
        </div>

        <div class="play center" title="Assistir em tela cheia">
          <app-round-icon-border [border]="false" (click)="fullvideo()" [icon]="'../../../assets/icons/full.png'"
            [alt]="'Icone para iniciar no trailer'" [width]="40" [height]="40"></app-round-icon-border>
        </div>
      </div>

    </article>
  </section>
</div>
<app-sonia-ia></app-sonia-ia>