<div class="container">
  <section class="banner" [style.background-image]="'url(../../../assets/call-of-duty.jpg' + ')'">
    <article class="titles">
      <h1>Call of Duty: WWII</h1>
      <p>A série Call of Duty retorna às raízes com Call of Duty®: WWII, uma experiência espetacular que redefine
        a Segunda Guerra Mundial para uma nova geração de jogadores. Desembarque na Normandia...</p>


      <div class="play center">
        <button class="button-play center">
          <img src="../../../assets/icons/play.png" alt="Icone para iniciar no trailer">
        </button>

        <button class="button-explore center">
          Explorar Jogo
          <img src="../../../assets/icons/arrow-right-animate.png" alt="Icone para explorar para o jogo">
        </button>
      </div>
    </article>
  </section>

  <section class="cards-trailers center">

    <app-card-trailer [image]="'../../../assets/call-of-duty-mw-card.jpg'"></app-card-trailer>
    <app-card-trailer [image]="'../../../assets/call-of-duty-mw-2-card.jpg'"></app-card-trailer>
    <app-card-trailer [image]="'../../../assets/call-of-duty-mw-3-card.jpg'"></app-card-trailer>

  </section>
</div>