* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

$red: #c62828;
$dark: #000000;

html,
body {
  height: 100%;
  width: 100%;
  background-color: $dark;
}


body::-webkit-scrollbar-thumb {
  background-color: $dark;
  border-radius: 1px;
  border: 1px solid $dark;
}

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}